.rounded {
    border-radius: 10px
}

.m-1 {
    margin: 10px;
}

.m-0 {
    margin: 0
}

.mt {
    margin-top: 2px;
}

.mb-1 {
    margin-bottom: 1em;

}

.mt-10 {
    margin-top: 16px;
}

.pt-10 {
    padding-top: 16px;
}

.shadow {
    box-shadow: 3px 6px 10px 0px rgb(0 0 0 / 50%);

}

.bg-vintage {
    background-color: rgba(254, 248, 239, 1)
}

.transition {
    opacity: 0;
}

.cursor-point {
    cursor: pointer;
}

.scale-enter-start {
    transform: scale(1.2);
}

.scale-leave-end {
    transform: scale(0.5);
}

.d-flex {
    display: flex;
}

.f-direction-col {
    flex-direction: column;

}

.justify-content-start {
    justify-content: flex-start;

}

.align-items-center {
    align-items: center;

}

.gap-1 {
    gap: 0.5rem
}

.fa-times-circle {
    color: grey;
    transition: color .250s, transform .250s; 
    /* background:red; */
}

.fa-times-circle:hover {
    color: #D87C7C;
    transform:scale(1.2)
}


